@import '@picocss/pico';
@import '_variables.scss';

#root {
	//max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 0.7em;
	background-color: $primary-900;
}

thead th {
	color: var(--accent-color);
	font-size: 1em;
}

table td {
	border: 1px solid $primary-900;
}
table th {
	padding-top: 0px;
}

.container {
	overflow: auto;
	max-width: 90vw;
	display: flex;
	flex-direction: column;
}

.hero {
	background-position: center;
	background-size: cover;
	background-image: url('assets/background-stock.jpg');
	background-blend-mode: darken;
	background-color: $primary-900;
	padding: 1.5em 5em;
	border-bottom: $primary-700 1px solid;
	box-shadow: 0 0 5px 0 $primary-900;
}
.headings {
	position: relative;
	opacity: 1;
	background-color: transparent;
}
footer {
	text-align: center;
}

.hero {
	color: pink;
}
